body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, #44f7a3, #44f7df 5px, #e5e5f7 5px, #e5e5f7 25px );
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}
form{
    width: 20%;
    padding: 20px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #000000;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #ffffff;

}

form input{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #ffffff;

    &:focus{
        border: #000000 1px solid;
    }
}
.box-numero{
    width: 50px;
}
i{
    color: #00c01a;
    font-size: 3em;
    margin: 0 auto;
    margin-bottom: 50px;
}

select{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #ffffff;

    &:focus{
        border: #000000 1px solid;
    }
}
.comprar-btn{
    background-color: #00c01a;

    &:hover{
        background-color: #00690e;
    }
}
.img-wepay{
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}
.container-wepay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

span{
    color: #00c01a;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: relative;
    transition: 1s;

    &:hover{
        color: #00690e;
     
    }
}
.volver-enlace{
    color: #00c01a;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: relative;
    transition: 1s;

    &:hover{
        color: #00690e;
     
    }
}
.volver-enlace i{
    font-size: 20px;
    margin-right: 5px;
}