body{
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav{
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #ff0000;
}
nav h1{
    text-align: left;
    margin: 0 50px;

    animation: colores 3s linear infinite both;
  
}
nav a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;

    &:hover{
        color: #000000;
        translate: 0 2px;
    }

}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    color: #ffffff;
    padding: 3px;
    margin: 0;
}
.banner-img{
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.container-confite{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    width: 70%;
}
.container-confite div{
    width: 300px;
    margin: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #000000;
    text-align: center;

    &:hover{
        box-shadow: 0 0 10px #ff0000;
    }
}

.container-confite div button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #ffffff;

    &:hover{
        background-color: #ff0000;
    }
}
.div-img img{
    width: 150px;
    
    padding: 10px;
}
.div-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
  
}
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ffcccc;
  }

.titulo {
    display: flex;
    font-size: 2em;
    color: #ff0000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    justify-content: center;
}
footer{
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    margin-top: 20px;
    
}
footer h1{
    color: #ffffff;
   &:hover{
    translate: 0 2px;
   }
}
footer P{
    color: #ffffff;
    margin: 0;
}
.div-img-FOOTER{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
}
.div-img-FOOTER img{
    width: 30px;
    opacity: 50%;

    &:hover{
        opacity: 100%;
    }

}
.cartShopping{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    color: #ffffff;
    margin: 0;
    font-size: 30px;
    position: relative;

    &:hover{
        transform: rotate(10deg);
    }
}
.notificacion{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ff8019;
    border-radius: 10px 0 10px 0;
    color: #ffffff;
    margin: 0;
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    width: 20px;
    font-weight: 600;
    

    &:hover{
        transform: rotate(10deg);
    }
}